.container {
  width: 100%;
  margin: auto;
  text-align: center;
  
}
.container2 {
  width: 100%;
 
  margin: 0px;
  text-align: center;
  display: flex;
  flex-direction: row;
 justify-content: center;
}

/* .dice {
  text-align: center;
  display: inline-block;
} */

body {
  background-color: #010115;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #eafcf6;
}

p {
  font-size: 2rem;
  color: #eafcf6;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 50%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
@media screen and (max-width: 700px) {
  .container2 {
    flex-direction: column;
  }
}